{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <a href="{% url 'campaign_detail' campaign.pk %}" class="btn btn-outline-secondary me-2 shadow-sm">
      <i class="bi bi-arrow-left"></i> Voltar
    </a>
    <h2 class="d-inline align-middle mb-0">Masmorras</h2>
  </div>
  <a href="{% url 'dungeon_create' campaign.pk %}" class="btn btn-info shadow-sm">
    <i class="bi bi-plus-lg me-1"></i> Nova Masmorra
  </a>
</div>

<div class="input-group my-3">
  <span class="input-group-text"><i class="bi bi-search"></i></span>
  <input id="searchInput" class="form-control" placeholder="Buscar Masmorra" oninput="filterElements()">
</div>

{% if dungeons %}
<div id="elements" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  {% for dungeon in dungeons %}

  <a id="{{ dungeon }}"
    href="{% url 'dungeon_detail' campaign.pk dungeon.pk %}?back_to={{ request.get_full_path|urlencode }}"
    class="col card-hover-scale">
    <div class="card h-100 border-0 shadow-sm">
      <button id="toggle-fixed-btn-{{ dungeon.pk }}" onclick="toggleFixed(event)" class="btn btn-sm w-25"
        data-url="{% url 'dungeon_toggle_fixed' campaign.pk dungeon.pk %}">
        {% if dungeon.fixed %}
        <i class="bi bi-pin-angle-fill fs-5"></i>
        {% else %}
        <i class="bi bi-pin-angle fs-5"></i>
        {% endif %}
      </button>
      {% if dungeon.image %}
      <img src="{{ dungeon.image.url }}" alt="{{ dungeon.name }}" class="card-img-top rounded-top"
        style="max-height: 200px; object-fit: cover;">
      {% else %}
      <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <span class="text-muted"><i class="bi bi-image me-2"></i>Sem imagem</span>
      </div>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ dungeon }}</h5>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-secondary text-center" role="alert">
  Nenhum Masmorra encontrado para esta campanha.
</div>
{% endif %}
{% endblock %}