{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0"> Dados da campanha </h4>
      </div>
      <div class="card-body">
        <p><strong>História: </strong> {% if campaign.history %}
          {{ campaign.history }}
          {% else %}
          História não definida.
          {% endif %}
        </p>

        <p><strong>Descrição:</strong> {% if campaign.description %}
          {{ campaign.description }}
          {% else %}
          Descrição não definida.
          {% endif %}
        </p>

      </div>
      <div class="card-footer d-flex justify-content-end gap-2">
        <a href="{% url 'campaign_update' campaign.pk %}" class="btn btn-warning">
          <i class="bi bi-pencil-square"></i> Editar
        </a>
        <a href="{% url 'campaign_delete' campaign.pk %}" class="btn btn-outline-danger ms-2">
          Excluir
        </a>
        <a href="{% url 'campaign_list' %}" class="btn btn-outline-secondary">
          Voltar
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for fixed_list, label, url_name, toggle_fixed_url in fixeds %}
  {% for fixed in fixed_list %}
  <a id="fixed-{{ label }}-{{ fixed.pk }}"
    href="{% url url_name campaign.id fixed.id %}?back_to={{ request.get_full_path|urlencode }}"
    class="col card-hover-scale text-decoration-none text-dark">
    <div class="card h-100 border-0 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">
          <button id="toggle-fixed-btn-{{ label }}-{{ fixed.pk }}" data-cardid="fixed-{{ label }}-{{ fixed.pk }}"
            onclick="toggleFixed(event, destroy=true)" class="btn btn-sm w-20"
            data-url="{% url toggle_fixed_url campaign.pk fixed.pk %}">
            {% if fixed.fixed %}
            <i class="bi bi-pin-angle-fill fs-5"></i>
            {% else %}
            <i class="bi bi-pin-angle fs-5"></i>
            {% endif %}
          </button>
          {{ fixed }}
        </h5>
        <h6 class="text-muted">{{ label }}</h6>
      </div>
    </div>
  </a>
  {% endfor %}
  {% endfor %}

</div>
{% endblock %}